body {
  background-color: powderblue;
}
#head {

  color:white;
  size: 15px;
  align-self: start;
  background-color: teal;
  padding-left: 10px;
  padding-top: 0;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 23px;
  padding-top: 23px;
  align-self: center;
  position: relative;
}

#end{
  display: inline-block;
  margin-left: 20px;
  padding-right: 50px;


  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

h1 {
  padding-left: 60px;
  padding-top: 10px;

}


#nor {
  font-size: x-large;
  padding-left: 60px;
  padding-right: 40px;
  line-height: 140%;
}
ul li p {
  font-size: x-large;
}

#u li {
  font-size: x-large;
  padding-left: 0;
  padding-right: 40px;
  line-height: 140%;
}
.centre{
  text-align: center;
  padding-top: 10px;
}

#sub {
   float : right;
   padding-left: 100px;
   background-color: rgb(128, 77, 0);
}
#bar{
  line-height: 0%;
  padding-right: 1%;
  font-size: 40px;
}


/* body {
  background: rgb(204,204,204);
} */
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  /* height: 29.7cm; */
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  /* height: 21cm; */
}
page[size="A3"] {
  width: 29.7cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}