<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <title>VLAB</title>

</head>

<body>
    <div w3-include-HTML=/></div>
    <script src='static/w3-include-HTML.js') }}></script>
    <div style="padding-top: 150px;">
        <br><br><br>
        <h1 style="text-align: center;padding-top: 0px;">INTRODUCTION</h1>
        <hr style="height: 1px;color: #000; opacity: 1;background-color: black;width:92%;">
        <p id="nor">
            The Duffing Equation is an externally forced and damped oscillator equation that exhibits a range of
            interesting dynamic behaviour in its solutions. While, for many parameter values, the solutions of the
            system represent a mass-spring system whose response to displacement from equilibrium is characterized by a
            restoring force exhibiting both linear and cubic features, the system’s solutions readily transition to
            chaotic behaviour.
        </p>
        <p id="nor"> In this virtual lab, we will have a look at the simulations for the duffing equation for variations
            in the parameters involved.</p>
        <p id="nor">
            This lab is executed by the students of the Mechanical Department, IIT Patna under the guidance of Dr
            Somnath Sarangi.
        </p>
        <p id="nor" style="padding-left: 60px;line-height: 80%;">Students involved :-</p>
        <ul style="padding-left: 120px;">
            <li id="nor" style="padding-left: 0px;">Tanmay Srivastava</li>
            <li  id="nor" style="padding-left: 0px;">Rahul Verma</li>
            <li  id="nor" style="padding-left: 0px;">Adiba Yasmin</li>
            <li  id="nor" style="padding-left: 0px;">Sumit Kumawat</li>
        </ul>

    </div>



</body>

</html>