<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }}>
    <title>VLAB</title>
</head>

<body>
    <div w3-include-HTML= />
    </div>
    <script src={{ url_for('static', filename='w3-include-HTML.js' ) }}></script>
    <div style="padding-top: 170px;">
        <br><br><br>
    </div>
    <div>
        <figure style="text-align: center;">
            <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLScg4R4MZ3Q4ECuohHBrHygueisJ8--Qjl3YuqPsYB4q4Ug9Dw/viewform?embedded=true"
            width="800" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

        </figure>

    </div>
</body>

</html>