<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <title>VLAB</title>
</head>

<body>
    <div w3-include-HTML=/></div>
    <script src={{ url_for('static', filename='w3-include-HTML.js') }}></script>
    <div style="padding-top: 150px;">
        <br><br><br>
        <h1 style="text-align: center;padding-top: 0px;">QUIZ</h1>
        <hr style="height: 1px;color: #000; opacity: 1;background-color: black;width:92%;"></div>
    <div>
        <p id="nor"></p>
    </div>
</body>

</html>