<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }}>
    <title>VLAB</title>
</head>

<body>
    <div w3-include-HTML= />
    </div>
    <script src={{ url_for('static', filename='w3-include-HTML.js' ) }}></script>
    <div style="padding-top: 200px;">
        <h1 style="text-align: center;padding-top: 0px;">REFERENCES</h1>
        <hr style="height: 1px;color: #000; opacity: 1;background-color: black;width:92%;">
        <div style="padding-left: 30px;">
            <page size="A3">
                <br><br>
                <ul>
                    <li><a id="nor" style="padding-left: 0;" href="https://en.wikipedia.org/wiki/Duffing_equation">
                            https://en.wikipedia.org/wiki/Duffing_equation</a>
                    </li>
                    <li><a id="nor" style="padding-left: 0;"
                            href="http://www.scholarpedia.org/article/Duffing_oscillator">http://www.scholarpedia.org/article/Duffing_oscillator</a>
                    </li>
                    <li><a id="nor" style="padding-left: 0;"
                            href="https://mathworld.wolfram.com/DuffingDifferentialEquation.html">https://mathworld.wolfram.com/DuffingDifferentialEquation.html</a>
                    </li>
                    <li><a id="nor" style="padding-left: 0;" href="http://physics.ucsc.edu/~peter/115/duffing.pdf">
                            http://physics.ucsc.edu/~peter/115/duffing.pdf</a> </li>
                </ul>
                <br><br>
            </page>

        </div>

    </div>


</body>

</html>