<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: teal;">
    <div style="background-color: teal;">
        <p  style="text-align: center;font-size: 50px;">
            {{data}}
        </p>
    </div>
    <div style="width: fit-content;background-color: teal;">
        <figure style="width: fit-content;">
            <img src="{{ url_for('static',filename='dynamic_images.gif') }}" alt="" style="width: 100%;">
            <figcaption id ="bar" style="text-align: center;">Phase Plane Solution t∈[0,2000]</figcaption>
        </figure>
        <figure>
            <img src="{{ url_for('static',filename='lines.png') }}" alt="" style="width: 100%;">
            <figcaption style="text-align: center;">Phase Plane Solution t∈[0,2000]</figcaption>
        </figure>
    </div>
</body>
</html>